html {
    background-color: rgba(9, 10, 11, 0.93) !important;
    background-size: cover;
    overflow-y: hidden !important; 
}
  
body {
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}