html {

    text-align: center;

}

body {
    margin: 0;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* @font-face {
    font-family: "Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
} */

#app {
    height: 100vh;
    text-align: center;
}
