html {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 15, 17, 0.975);
    filter: blur(6px);
    z-index: -1;
}

.flex-span {
    display: flex;
    width: 100vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-full {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}