:root {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --border-faint: rgba(255, 255, 255, 0.2);
    --border-faint-alt: rgba(255, 255, 255, 0.3);
}

@font-face {
    font-family: "Inter var";
    font-weight: 200 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 200 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--p-surface-950);
    z-index: -1;
}

a {
    text-decoration: none;
}

.flex-span {
    display: flex;
    width: 100vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-full {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.p-tooltip-arrow {
    border-left-color: transparent !important;
}

.border-faint {
    border: 1px solid var(--border-faint);
}

.border-top-faint {
    border-top: 1px solid var(--border-faint);
}